<footer class="container">
    <nav>
        <ul class="footer-list">
            <li class="cr-label">© <%= new Date().getFullYear() %></li>
            <li><a class="footer-link" href="/">Twitter</a></li>
            <li><a class="footer-link" href="/">LinkedIn</a></li>
            <li><a class="footer-link" href="/">Email</a></li>
            <li><a class="footer-link" href="/">RSS feed</a></li>
            <li><a class="footer-link" href="/">Add to Feedly</a></li>
        </ul>
    </nav>
</footer>