<header class="header">
    <header class="container">
        <div class="username">
            <a href="/">
                <p>
                    <%= email %>
                </p>
            </a>
        </div>
        <div class="nav-wrapper">
            <nav class="main-nav">
                <ul class="nav-list-wrapper">
                    <li><a class="nav-link" href="/">Blog</a></li>
                    <li><a class="nav-link" href="/about">About</a></li>
                    <li><a class="nav-link" href="/newsletter">Newsletter</a></li>
                    <% if (email){ %>
                        <li><a class="nav-link" href="/blogs/new">Create New Blog</a></li>
                        <li><a class="nav-link" style="color: darkred" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
</header>