<header class="header">
    <div class="container nav-wrapper">
        <nav class="main-nav" id="mainNav">
            <ul class="nav-list-wrapper">
                <li><a href="/" class="nav-link">Blog</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/newsletter" class="nav-link">Newsletter</a></li>
            </ul>
        </nav>
        <button class="burger" id="burgerBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>