.blog-title {
    font-weight: 700;
    font-size: 244px;
    color: rgba(26, 26, 26, 1);
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    text-align: center;
}

@media (max-width: 1440px) {
    .blog-title {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .blog-title {
        font-size: 120px;
    }
}

@media (max-width: 768px) {
    .blog-title {
        font-size: 80px;
    }
}

@media (max-width: 576px) {
    .blog-title {
        font-size: 60px;
    }
}

.recent-blogs-wrapper {
    margin: 60px auto 0;
}

.recent-blogs-wrapper .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.blog-meta {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 32px;
}

.blog-meta p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(105, 65, 198, 1);
}

.blog-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.blog-title-wrapper a {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
}

.description-wrapper {
    margin-top: 12px;
}

.description-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(102, 112, 133, 1);
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.small-card {
    display: flex;
    gap: 24px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.meta {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1A1A1A;
    margin-top: 12px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin-top: 8px;
}

.wide-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 60px;
}

.all-blog-posts-wrapper {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

.all-blog-posts-wrapper .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
}

.blogs-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}