.blog-title {
    font-size: 220px;
    font-weight: 700;
    text-align: center;

    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);

    margin-top: 40px;
    margin-bottom: 80px;
}

.section-title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
}

.recent-section {
    margin-bottom: 80px;
}

.recent-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.featured-card {
    display: flex;
    flex-direction: column;
}

.featured-card .card-image {
    height: 350px;
}

.recent-card {
    display: flex;
    flex-direction: column;
}

.card-image {
    background: #ececec;
    height: 200px;
    border-radius: 8px;
}

.card-body {
    margin-top: 20px;
}

.meta {
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card-body h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.description {
    color: #667085;
    line-height: 1.7;
}


.blogs-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.blog-card {
    display: flex;
    flex-direction: column;
}

.blog-card .card-image {
    height: 240px;
}


@media (max-width:1024px){

    .blog-title{
        font-size:140px;
    }

    .blogs-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .recent-grid{
        grid-template-columns:1fr;
    }

}


@media (max-width:768px){

    .blog-title{
        font-size:80px;
    }

    .blogs-grid{
        grid-template-columns:1fr;
    }

    .card-body h3{
        font-size:22px;
    }

}

@media (max-width:576px){

    .blog-title{
        font-size:56px;
    }

}