.blog-title {
    font-weight: 700;
    font-size: 244px;
    color: rgba(26, 26, 26, 1);
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34)
}