footer {
    margin: 60px auto 30px;
}

.footer-list {
    display: flex;
    gap: 14px;
}

@media (max-width: 768px) {
    .footer-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer-link, .cr-label {
    color: rgba(26, 26, 26, 1);
    font-family: Inter, monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 768px) {
    .cr-label {
        order: 1;
    }
}